<html>

<head>

    <style>

         body {
            background-color:pink;
        }
    
        h1 {
    
        }

        p {
            text-align:center;
        }

        table {
            border:1px solid black; 
        }

        tr, th, td {
            border:1px solid black; 
            padding:5px;
        }
   </style> 

</head>

<body>

    <h1 style="color:red;">{{ failureMsg  }}</h1>

    <form method="get" action="{{ url_for('changeMediaHelper') }}">    
    
    <table border=1px>
        <tr>
        <td>
        <p>Title:<br>(empty to remove)</p>
        <input type="text" id="title" name="title" value="{{ mediaRow[0][0]  }}">
        </td>
        </tr>
        <tr>
        <td>
        <p>Year:</p>
        <input type="text" id="year" name="year" value="{{ mediaRow[0][1] }}">
        </td>
        </tr>
        <tr>
        <td>
        <p>Director</p>
        <input type="text" id="director" name="director" value="{{ mediaRow[0][2] }}">
        </td>
        </tr>
        <tr>
        <td>
        <p>Animation Studio:</p>
        <input type="text" id="animationStudio" name="animationStudio" value="{{ mediaRow[0][3] }}">
        </td>
        </tr>


        {% for curWriter in writerSplit %}
        <tr>
        <td>

            <p>Writer <br>(empty to remove)</p>
            <input type="text" name="curWriter" value="{{ curWriter }}">

        </td>
        </tr>
        {% endfor %}



        <tr>
        <td>

        <p>New writer(s): <br> (first last,first last)</p>
        <input type="text" id="writers" name="writers" value="">

        </td>
        </tr>


    </table>

    <input type="hidden" id="chosenTitle" name="chosenTitle" value="{{ chosenTitle }}">
    <input type="hidden" id="writerSplit" name="writerSplit" value="{{ writerSplit }}">

    <input type=submit name=submitData value="Change Data">       
    
    </form>

</body>

</html>
